@import url('https://fonts.googleapis.com/css2?family=Antic&family=Bungee&family=Bungee+Shade&family=Hubballi&family=Montserrat:wght@500&family=Oxygen:wght@700&family=Philosopher&family=Press+Start+2P&family=Reenie+Beanie&family=Roboto&family=Roboto+Serif:wght@500&display=swap');

html {
    height:100%;
    width:100%;
}

body {
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
    font-family: 'Bungee', cursive;
    background-image: url(/img/cieli2.jpg);

}

.clima-contenedor {
    position: absolute;
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    text-align: center;
    flex-direction: row;
    color: rgb(77, 77, 77);
    font-family: 'Press Start 2P', cursive;
    font-size: .75rem;
    text-align: center;
}

.clima-contenedor p {
    align-self: flex-end;
    margin-left: 1rem;
}

.clima-item {
    margin: 3rem;
}

#clima-icono {
    -webkit-filter: drop-shadow(2px 2px 2px gray);
    filter: drop-shadow(2px 2px 2px gray);
}

#joke-container {
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

#joke-container h5 {
    margin: 1rem;
}

.container-color {
    background-image: url(/img/fondo1.svg);
}

.container-color2 {
    background-image: url(/img/fondo2.svg);
}

.container-color3 {
    background-image: url(/img/fondo3.svg);
}

.container-color4 {
    background-image: url(/img/fondo4.svg);
}



#card-title {
    font-family: 'Press Start 2P', cursive;
    color: rgb(252, 210, 71);
    line-height: 2.8rem;
    letter-spacing: .3rem;
    font-size: 2rem;
    align-self: center;
    text-shadow: 1px 1px rgb(194, 177, 240);
}

.card {
    display: flex;
    justify-content: space-around;
    width: 40%;
    height: 16rem;
    align-self: center;
    color: white;
    overflow: auto;
}

.card-text {
    max-width: 80%;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.3em;
    line-height: 1.8rem;
    margin-top: .5rem;
}


.joke-score {
    margin-top: 1rem;
    visibility: hidden;
}

.joke-score input {
    display: none;
}

.joke-score label {
    cursor: pointer;
    margin: 0 .5rem 5rem .5rem;
}

.joke-score label img {
    height: 3.5rem;
}

.joke-score label img:active {
    opacity: .5;
}

.joke-score label img:hover {
    filter: drop-shadow(0px 0px 3px rgb(255,255,255, 0.3));
}

#score-text {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: .8rem;
}

.btn {
    margin-top: 2rem;
    margin-bottom: 10%;
    font-size: 1.75rem; 
    text-shadow: .75px .75px rgb(0, 0, 0, .3);   
}

.btn:hover {
    color: rgb(252, 210, 71);
}

@media (max-width: 600px) {
    .card {
        width: 80%;
    }
    .card-text {
        font-size: 1em;
    }
    #joke-container {
        background-size: 130%;
    }
}

